<h1>Competencias</h1>
<input type="text" placeholder="competencia" [(ngModel)]="nombre"> <br>
<input type="text" placeholder="descripcion" [(ngModel)]="descripcionCompetencia"> <br>

<button (click)="agregarCompetencia()">
    Agregar competencias
</button>
<p *ngIf="siExisten">No existen competencias agregadas</p>

<div *ngIf="!siExisten" class="container">
    <div *ngFor="let competencia of competencias; let i = index">
        <hr>
        <h2>id {{competencia.id}}</h2>
        <h2>competencia {{competencia.nombre}}</h2>
        <h2>descripcion competencia: {{competencia.descripcionCompetencia}}</h2>
        <p *ngIf="competencia.comportamientos.length <= 0">No existen comportamientos agregados</p>
        <h2>descripcion Comportamiento</h2>
        <input type="text" [(ngModel)]="descripcionComportamiento">
        <h2>peso</h2>
        <input type="number" [(ngModel)]="porcentajePeso">
        <div *ngIf="competencia.comportamientos.length > 0">
            <ul *ngFor="let comportamiento of competencia.comportamientos">
                <li> {{comportamiento.descripcionComportamiento}} </li>
                <li>{{comportamiento.porcentajePeso}}</li>
            </ul>
        </div><br>
        <button (click)="agregarComportamiento(i)">
            Agregar comportamiento
        </button>
        <br>
        <Button (click)="borrarCompetencias()">Eliminar</Button>
    </div>
    
</div>
